@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-coral: #d66a53;
  --color-teal: #2a887e;
  --color-pink: #cc2e78;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-coral: var(--color-coral);
  --color-teal: var(--color-teal);
  --color-pink: var(--color-pink);
  --font-sans: var(--font-montserrat);
  --font-serif: var(--font-merriweather);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
